html,
body {
    margin: 0;
    padding: 0;
    background-color: #D8FED7;
}

#left {
    width: 50%;
    position: relative;
    min-height: 100vh;
}

.inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#right {
    width: 50%;
    min-height: 100vh;
    background-color: palegreen;
    text-align: center;
}

#weather {
    width: 200px;
    height: auto;
}

#condation {
    width: 100px;
    height: auto;
}