html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D8FED7;
}

#left {
    width: 50%;
    height: 10vh;
    position: relative;
}

.inner-div {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, 50%);
}

#right {
    width: 50%;
    min-height: 100vh;
    background-color: palegreen;
    text-align: center;
}

#weather {
    width: 200px;
    height: auto;
}

#condation {
    width: 100px;
    height: auto;
}